#js-order-form .app-container .delivery-type-outer_block_VwNle{
    display: none !important;
}
.app-container{
    z-index: 5 !important;
}

.app-container .map_button_3JA4u{
    padding: 0em 1em !important;
}